import { IRequestHandler, RequestHandler } from '@angulator/angulator';
import { <%= classify(name) %>Command } from './<%= dasherize(name) %>.command';

@RequestHandler(<%= classify(name) %>Command)
export class <%= classify(name) %>Handler implements IRequestHandler<<%= classify(name) %>Command, void> {
  handle(request: <%= classify(name) %>Command): void {
    console.log(`Hello ${request.id}`);
  }
}
